---
import Items from "../header/Items.astro"
const { routes } = Astro.props
---

{
  routes.map((route) => (
    <div class="header__routes-item">
      <div class="header__exp">
        <p class="header__exp-head">
          <span>{route.title}</span>
        </p>
        <Items items={route.child} />
      </div>
    </div>
  ))
}
