---
import Items from "../header/Items.astro"
const { routes } = Astro.props
---

{
  routes.map((route) => (
    <div class="nav__routes--item">
      {
        route.child ? <div  class="nav__exp">{route.title}</div>
                      <div class="nav__exp--body">
                        <Items items={route.child} />
                      </div>
                      :
                      <a class="nav__routes--link" href={route.link}> {route.title}
                      </a>
      }
    </div>
  ))
}
