---
import { localizePath, localizeUrl } from "astro-i18next";
import i18next, { t, changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import Column from "../../components/Column.astro";
import Image from "../../components/Image.astro";
import Button from "../../components/btns/Button.astro";

changeLanguage("es");

const styles = {
    h: "tit ts-48 ts-lg-60 tc-blue tw-800 mb-4",
    p: "txt ts-16 ts-lg-18 tc-black tw-400 mb-4"
};
---

<Layout>
  <Section sectionName='1'>
    <Column>
      <Image />
    </Column>
    <Column>
      <h1  class={styles.h}>
        {t('forex.sec1.title')}
      </h1>
      <p class={styles.p}>
        {t('forex.sec1.text')}
      </p>
      <Button 
        btnHref={localizeUrl('btns.registration.link')}               
        btnTitle={t('btns.registration.title')} 
      />
    </Column>
  </Section>
  <Section sectionName='2'>
    <Column colsLg='12' justify='center' align='center'>
      <h2 class={styles.h}>
        {t('forex.sec2.title')}
      </h2>
      <p class={`${styles.p} ta-center`}>
        {t('forex.sec2.text')}
      </p>
      <Button 
        btnHref={localizeUrl('btns.login.link')}               
        btnTitle={t('btns.login.title')} 
      />
    </Column>
  </Section>
</Layout>
