---
export interface Props {
  title?: string
}
import i18next, { t } from "i18next"
import { HeadHrefLangs } from "astro-i18next/components"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import "../styles/styles.scss"
export const cc = (page) => {
  return JSON.parse(JSON.stringify(t(`pages.${page}`, { returnObjects: true })))
}
---

<!doctype html>
<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{t("site.title")}</title>
    <meta
      name="description"
      content={t("site.description")}
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <HeadHrefLangs />
  </head>
  <body>
    <Header />
    <main class="view">
      <slot />
    </main>
    <Footer />
    <script>
      const links = document.querySelectorAll("a")
      const currentLang = document.documentElement.lang
      links.forEach((link) => {
        let href = link.getAttribute("href")
        if (currentLang === "en" && href.startsWith("/en/")) {
          href = href.replace("/en/", "/")
        } else if (href.startsWith(`${currentLang}/`)) {
          href = href.replace(`${currentLang}/`, "")
        }
        link.setAttribute("href", href)
      })
    </script>
  </body>
</html>
