---
import Items from "../header-old/Items.astro"
const { routes } = Astro.props
---

{
  routes?.map((route) => (
    <li class="nav__routes--item">
      <div class="nav__exp">{route.title}</div>
      <ul class="nav__exp--body">
        <Items items={route.child} />
      </ul>
    </li>
  ))
}
